@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AmazonEmber";
  src: url(./assets/fonts/AmazonEmber_Rg.ttf);
}

/* costume classes for tailwind start */
@layer components {
  .navbar_list_item {
    @apply mr-2 font-semibold cursor-pointer border border-transparent hover:border-white px-1 md:px-2;
  }
  .sidebar_header {
    @apply font-semibold text-lg pl-10 pt-3 mb-1;
  }
  .sidebar_list {
    @apply list-none text-sm border-b border-gray-300;
  }
  .sidebar_list_item {
    @apply pr-5 pl-10 py-4 cursor-pointer hover:bg-gray-200;
  }
  .flex_between {
    @apply flex items-center justify-between;
  }
}
/* costume classes for tailwind end */

body {
  margin: 0;
  font-family: AmazonEmber;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
